#descricao{

    width: 34vw;
    height: 25vh;
    max-height: 21vh;
    min-height: 21vh;
    background-color: white;
    border: solid beige;

}
#nome{

    width: 34vw;
    background-color: transparent;
    border: solid beige;

}
@font-face {
    font-family: Loew;
    src: url(../fontes/Loew-Heavy.otf);
}
header{
    display: flex;
    height: 15vh;
    background-color:#121118;
    justify-content: center;
    align-items: center;
    font-family: Loew;
    color: beige;


}
main{

    height: auto;
    min-height: 85vh;
    background-color: #494752

}
#cadastro{
    position: relative;
    height: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid rgb(218, 218, 195);
    border-radius: 5px;
    width: 35vw;
    background-color: white;

}
#tarefas{

    height: auto;
    width: auto;
    min-height: 35vh;
    min-width: 35vh;
    border: solid rgb(218, 218, 195) 3px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Loew;
    background-color: white;
    font-size: 11;
    justify-content: space-between;
    word-break: break-word;

    
}

#tarefa{
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    
}
#delete{

    width: 3vw;
    height: 3vh;
    border: 0;
    background-color: transparent;

}
#delete:hover{

    color: #921F22  ;

}
h1{
    font-family: Loew;
    color: beige;
}
button{

    border-radius: 30px;
    border: solid black 1px;

}

.teste {
        display: flex;
        justify-content: space-around;

        width: 98vw;
        flex-wrap: wrap;
}
#categorias{

    width: 100%;
    display: flex;
    align-items: center;
    min-height: 45vh;
    

}
.btn-primary{

    background-color: beige;
    color: black;
    font-size: large;
  
}
.btn-group{


    width: 95%;

}