<header>

  <h1>TODO APP</h1>

</header>
<main class="container-fluid py-3" style="padding: 0;margin: 0;">
  <div class="d-flex justify-content-center mb-4 mt-2">
    <div class="btn-group " role="group" aria-label="Basic example"
      style="display: flex;justify-content: space-evenly; border-radius:40px ;">

      <button class="btn btn-primary" routerLink="/tarefas">Tarefas</button>
      <button class="btn btn-primary" routerLink="/categoria">Categoria</button>
      <button class="btn btn-primary" (click)="trocaBooleanRemover()">{{nomeRemoverCategoria}}</button>
      <!-- <button class="btn btn-primary" (click)="trocaBooleanMostrarAdicionarFiltro()"style="padding: 0; width: 1vw;">Filtro</button> -->

    </div>
  </div>

  <router-outlet></router-outlet>

  <div>

    <!-- <div *ngIf="adicionarMostrarFiltroBoolean" style="display:flex; justify-content: center; flex-wrap: nowrap;">

      <div id="cadastro">

        <p style="font-family: Loew;color: black; font-size: small;">Qual categoria deseja filtrar</p>
        <div style="display: flex; flex-direction:row; justify-content: center;">

          <select [(ngModel)]="categoria">
            <option *ngFor="let categoria of categorias;index as indice" [ngValue]="categoria">{{categoria}}</option>
          </select>
          <button *ngIf="categoria" (click)="adicionaFiltroCategoria()">Adicionar Filtro</button>
          <button (click)="removerFiltroCategoria()">Remover Filtro</button>

        </div>

        <p style="font-family: Loew;color: black; font-size: small;">Qual tarefa deseja filtrar</p>
        <input id="nome" placeholder="Nome da Tarefa" [(ngModel)]="filtroTarefa" />
        <div style="display: flex; flex-direction:row; justify-content: center;">
          <button (click)="adicionaFiltroTarefa()">Adicionar Filtro</button>
          <button (click)="removerFiltroTarefa()">Remover Filtro</button>
        </div>

      </div>
    </div> -->

  </div>

  <!-- <div *ngIf="deletarCategoriaPadrao == true">

    <div style="border: solid rgb(218, 218, 195);
    border-radius: 5px;
    width: auto;
    background-color: white;
    position: absolute;
    bottom: 3%;
    right: 1%;
    " class="modal-dialog modal-dialog-centered">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Erro ao remover categoria</h5>
            <button type="button" (click)="fecharAlertaCategoriaPadrao()">X</button>
          </div>
          <div class="modal-body">
            <p>Não é possível deletar uma categoria padrão</p>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div>

    <div *ngIf="removerCategoriaBoolean" style="display:flex; justify-content: center; flex-wrap: nowrap;">

      <div id="cadastro">



        <p style="font-family: Loew;color: black; font-size: small;">Informe a categoria que deseja remover</p>

        <div style="display: flex; flex-direction:row; justify-content: center;">

          <select [(ngModel)]="categoria">
            <option *ngFor="let categoria of categorias;index as indice" [ngValue]="categoria">{{categoria}}</option>
          </select>
          <button *ngIf="categoria" (click)="deletaCategoria()">X</button>


        </div>
      </div>
    </div>




  </div>



  

    <div *ngIf="cadastrarCategoriaBoolean">
      <div id="cadastro">
        <input id="nome" placeholder="Nome" [(ngModel)]="novaCategoria" />
        <div id="botoes">
          <button (click)="cadastrarCategoria(novaCategoria)">
            Cadastrar Categoria
          </button>
        </div>
      </div>
    </div>
  </div>
</main> -->