#descricao{

    width: 34vw;
    height: 25vh;
    max-height: 25vh;
    min-height: 16.2vh;
    background-color: transparent;

}
#nome{

    width: 34vw;
    background-color: transparent;

}
#tarefa{

    display: flex;
    flex-direction: row;

}
@font-face {
    font-family: BigNoodle;
    src: url(../fontes/big_noodle_titling.ttf);
}
header{
    display: flex;
    height: 15vh;
    background-color:#050517;
    justify-content: center;
    align-items: center;
    font-family: BigNoodle;
    color: #D3D5D7;


}
main{

    height: auto;
    min-height: 85vh;
    background-color: #D3D5D7;

}
#cadastro{

    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid black;
    border-radius: 5px;
    width: 35vw;

}
#teste{

    height: 200px;
    width: 200px;
    border: solid black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: BigNoodle;
    
}
#tarefa{
    display: flex;
    width: auto;
}
#delete{

    width: 3vw;
    height: 3vh;
    border: 0;
    background-color: transparent;

}